*{
    margin: 0;
}

body{
    margin: 0;
}

h1{
    color: purple;
}
h2{
    color: blue;
}
h3{
    color: red;
}
h4{
    color: greenyellow;
    text-decoration: underlane;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}